---
layout: default
title: IMA Web Design
---
<!--- intro -->
<section class="grid tall-100 md-tall-80"> 
    <div class="col-6 intro-quote">
        <h2 class="stand-out"> let's stand out from <br> the crowd. </h2>
    </div>

   

<div class="col-6 padded-1 center slideshow"> 

    {% include slideshow.html %}


</div>

</section>

<!--- about -->
<section class="padded tall-90 md-tall-80 bg-split-white-tan" style="z-index: -1;">
    <div class="grid-center"> 
        <div class="col-6_sm-12-middle padded editable about-text">
            <p> Som webdesigner vægter jeg æstetik og det skræddersyede design højt og anveder derfor ikke templates. Jeg specialiserer mig i at skabe custom-coded designs, som passer til jeres publikum. Jeg hjælper jer med at finde jeres stemme som virksomhed i en larmende online verden.  </p>
            <p > Min mission er at hjælpe brands med at skabe noget, som fanger øjet. <br> Lad os skabe det uforglemmelige. </p>
        </div>
        <div class="col-5_sm-12-middle padded" style="margin-top: -8rem;">
            <h2 class="bold white-text"> who </h2>     
        </div>
    </div>
</section>


<!-- <div class="col-12 right intro-text">
    <h2 class="brown-text"> website  development  / brand  identities / <br> brand strategy / text development / SEO </h2>
</div> --->

<!----Portfoilio  -->
<section class="grid"> 
<div class="col-8"> 
        {% include slick-slider.html %}
</div>

<div class="col-4_sm-12-middle padded editable">
    <h2 style="color: #f7f5f3; font-size: 10rem;"> Portfolio </h2> 
    <p class="emphasis" style="color: #f7f5f3"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, veniam! </p>
    <p class="emphasis" style=" color:#f7f5f3"> Culpa nesciunt quis tempore delectus neque nam est ea ipsa, quisquam praesentium a, ratione necessitatibus fuga vitae! Aliquid, cumque ex
    </p>


   
</section>
</div>



<!-----Why choose custom coding --->

<section class="grid" style="background-color: #ffffff;">
   {% include usps.html %}
</section>

<section class="grid" style="background-color: #e2e0e1;"> 
    <div class="col-8_sm-12-middle"> 
        <video autoplay muted loop>
            <source src="/videos/oranges.mp4" type="video/mp4">
            <p> Sorry, your browser doesn't support embedded videos</p>
    
        </video>  
    </div>

    <div class="col-4_sm-middle">
        <h2 style="color: #f7f5f3; font-size: 7rem;"> Let's create </h2>
        <p style="color: #f7f5f3;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae impedit mollitia id, corrupti eius nemo ab autem at adipisci provident porro illum rem quae nisi assumenda tempora? Eos, aspernatur.</p>
        <p style="color: #f7f5f3;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae impedit mollitia id, corrupti eius nemo ab autem at adipisci provident porro illum rem quae nisi assumenda tempora? Eos, aspernatur.</p>
        <p style="color: #f7f5f3;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae impedit mollitia id, corrupti eius nemo ab autem at adipisci provident porro illum rem quae nisi assumenda tempora? Eos, aspernatur.</p>
        <a href="/contact.html" class="enquire-now button inverted"> 
            <h2> Enquire Now </h2></a>  

    </div>
   
</section>