---
layout: default
title: IMA Web Design
---
<!--- intro -->
<section class="grid tall-100 md-tall-80"> 
    <div class="col-6 intro-quote">
        <h2 class="stand-out"> let's stand out from <br> the crowd. </h2>
    </div>

   

<div class="col-6 padded-1 center slideshow"> 

    {% include slideshow.html %}


</div>

</section>

<!--- about -->
<section class="padded tall-100 md-tall-80 bg-split-white-tan" style="z-index: -1;">
    <div class="grid-center"> 
        <div class="col-6_sm-12-middle padded editable about-text">
            <p> Som webdesigner vægter jeg æstetik og det skræddersyede design højt og anveder derfor ikke templates. Jeg specialiserer mig i at skabe custom-coded designs, som passer til dit publikum. Jeg hjælper jer med at finde jeres stemme som virksomhed i en larmende online verden.  </p>
            <p > Min mission er at hjælpe brands med at skabe noget, som fanger øjet. <br> Lad os skabe det uforglemmelige. </p>
        </div>
        <div class="col-5_sm-12-middle padded">
            <h2 class="bold white-text"> who </h2>     
        </div>
    </div>
</section>


<!-- <div class="col-12 right intro-text">
    <h2 class="brown-text"> website  development  / brand  identities / <br> brand strategy / text development / SEO </h2>
</div> --->

<!----Portfoilio  -->


        {% include slick-slider.html %}

    <div class="col-12"> 
        <a href="/contact.html" class="enquire-now button inverted"> 
            <h2> Enquire Now </h2></a>  
    </div>
   
</section>

