   <!--- Add jQuery ---->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


   <!---Animate on scroll  -->
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

   <!-- Lightgallery for pop-ups - husk at den skal før </body> og før vores custom files  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

<!---  slick-slider for gallery or testimonials JS  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" ></script>

<!---  slick-slider for gallery or testimonials CSS  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
   <link rel="stylesheet" type="text/css" href="css/style.css">
   
   <!-- our custom javascript file --> 
   <script src="/scripts.js"></script>
