            
              
<section class="padded grid banner tall-50" style="background-image: url('/images/IMA-webdesign-7.png'); margin-top: -2rem;">
  <div class="col-6_sm-12 grid padded" style="margin-left: 9rem;">
    <div class="col-6_sm-12 border-left padded-1 tall-70" > 
      <div class="padded-1 paddded-v-tall"> 
        <h4> AGENCY DIRECTOR </h4>
        <p> Isabella M. Andersen </p>
        <p> Tel: <a href="tel:+4540816296"> +45 40 81 62 96 </a></p>
        <p> Email: <a href="mailto:isabella.mery-ann@live.dk"> isabella.mery-ann@live.dk</a> </p>
        
      </div>

    </div>
  </section>
  


    <!--- Contact Form -->
    <section id="form" class="padded-10 grid contact-form">
      <form class="capped-width" action="https://formspree.io/f/xayznbkq" method="POST">
        <div class="grid padded">
          <div class="col-12 relative">
            <h2 class="center" > We would love to hear from you... </h2>
          </div>
          <div class="col-10_sm-12 padded-2"> 
            <div class="floating-input">
              <input class="input-text" name="name" placeholder="Your Name" required type="text">
              <label class="input-label"> Your Name </label>
            </div>
            <div class="floating-input">
              <input class="input-text" name="email" placeholder="Your Email" required type="text">
              <label class="input-label"> Your Email Adress </label>
            </div>
            <div class="floating-input">
              <input class="input-text" name="mobile" placeholder="Your Mobile Number" required type="text">
              <label class="input-label"> Your Mobile Number </label>
            </div>
          </div>

          <div class="grid padded">
            <div class="col-12 relative">
              <h2 class="left"> Your Business </h2>
            </div>

            <div class="col-10_sm-12 padded-2">
              <div class="floating-input">
                <textarea class="input-text" name="about-your-brand" placeholder="Describe your brand or business (in danish or english)" required=""></textarea>
                <label class="input-label"> Your Brand</label>
              </div>

              <div class="floating-input">
                <textarea class="input-text" name="services-needed" placeholder="How can I help you and your business? (in danish or english)" required=""></textarea>
                <label class="input-label"> Your Message</label>
              </div>

              <input class="enquire-now" type="submit" value="SUBMIT">

            </div>
          </div>
        </div>


      </form>



    </section>

  


            
          