<div class="header-nav col-12-top grid">
    <div class="col-5_md-11 sm-padded-1 md-padded">
        <a href="/index.html" class="logo rotated">
            <h2 class="logo sm-text-center"> IMA WEB DESIGN </h2>
        </a>
    </div>

     <div class="col-12-top">
        <div class="hamburger-button">
            <a> menu </a>
        </div>

       

<nav class="menu col-7_sm-12-middle sm-text-right lg-text-right grid-spaceAround">
    <a href="/index.html"> Home </a>
    <a href="/about.html" > About </a>
    <a href="/portfolio.html" > Portfolio</a>
    <a href="/contact.html"> Contact </a>
</nav>



</div>

</div>
