<style>

    :root { 
        --orange-text: {{site.data.site-settings.design.orange-text_color}};
        --yellow-text: {{site.data.site-settings.design.yellow-text_color}};
        --purple-text: {{site.data.site-settings.design.purple-text_color}};
        --pink-text: {{site.data.site-settings.design.pink-text_color}};
        --brown-text: {{site.data.site-settings.design.brown-text_color}};
        --bg-grey: {{site.data.site-settings.design.background-grey_color}};
        --logo-orange: {{site.data.site-settings.design.logo-orange_color}};
        --dark-text: {{ site.data.site-settings.design.dark-text_color }} ;
        --medium-text: {{ site.data.site-settings.design.medium-text_color }};
        --light-text: {{ site.data.site-settings.design.light-text_color }};
        --featured-text: {{ site.data.site-settings.design.featured-text_color }};
        --dark: {{ site.data.site-settings.design.dark_color }};
        --medium: {{ site.data.site-settings.design.medium_color }};
        --light: {{ site.data.site-settings.design.light_color }};
        --v-light: {{ site.data.site-settings.design.v-light_color }};
        --featured: {{ site.data.site-settings.design.featured_color }};
        --accent: {{ site.data.site-settings.design.accent_color }}; 
    }

</style>