<footer class="grid bg-purple padded purple-text justify-end items-end z-\[-1\]">
    
    <div class="flex justify-end items-end relative absolute top-0 right-0"> 
        <h2 class="col-6 yellow-text"> A Creative Studio. <br> Est. 2023 in Southern Denmark. </h2>
   
   
  <nav class=" col-6 footer-items mt-2">
    <a class="yellow-text padded-l padded-r" href="/contact.html"> Contact </a>
    <span class="yellow-text line "> | </span>
    <a class=" yellow-text padded-l padded-r" href="/cookies.html"> Cookies </a>
    <span class="yellow-text line"> | </span>
    <a class="yellow-text padded-l padded-r" href="/privacy.html"> Privacy </a>
     
</nav>
</div>


<div class="col-12"> 
    <p class="yellow-text flex justify-end items-end margin-t lowercase px-2 mt-2 "> Copyright IMA Webdesign 2023 </p>
</div>
          

    </footer>