<section class="grid"> 
    
    <div class="col-6_sm-12 padded" style="margin-top: -35rem;">
      <div class="testimonial-slider-container"> 
      <!-------------------- SLIDE 1 ------------------------------>
      <div class="slider-item  square"> 
        <img src="/images/portfolio-1.png">
         
      </div> 
      <!-------------------- SLIDE 2 ------------------------------>
      <div class="slider-item">
        <img src="/images/portfolio-2.png"> 
      </div> 
      <!-------------------- SLIDE 3 ------------------------------>
      <div class="slider-item">
        <img src="/images/portfolio-3.png"> 
      </div> 
      <!-------------------- SLIDE 4 ------------------------------>
      <div class="slider-item">
        <img src="/images/portfolio-4.png"> 
      </div> 
      <!-------------------- SLIDE 4 ------------------------------>
      <div class="slider-item">
        <img src="/images/portfolio-5.png"> 
      </div> 
    </div>
    
   
    
  </section> 