<section class="grid"> 
    <h2 class="col-12 center">  Words of love </h2>  
    <div class="col-1 right">
      <span class="quote-icon"> “ </span> 
    </div> 
    <div class="col-10">
      <div class="testimonial-slider-container testimonial"> 
      <!-------------------- SLIDE 1 ------------------------------>
      <div class="slider-item"> 
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel placeat laudantium ipsam nam optio aut dicta, reprehenderit enim recusandae?  </p>
        <p class="right author"> - Author </p>  
      </div> 
      <!-------------------- SLIDE 2 ------------------------------>
      <div class="slider-item">
            <p> Vel placeat laudantium ipsam nam optio aut dicta, reprehenderit enim recusandae? Odio perferendis veniam earum placeat quo amet laborum qui odit rerum. </p>
        <p class="right author"> - Author </p>  
      </div> 
      <!-------------------- SLIDE 3 ------------------------------>
      <div class="slider-item">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel placeat laudantium ipsam nam optio aut dicta, reprehenderit enim recusandae? Odio perferendis veniam earum placeat quo amet laborum qui odit rerum. </p>
        <p class="right author"> - Author </p>  
      </div> 
      <!-------------------- SLIDE 4 ------------------------------>
      <div class="slider-item">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel placeat laudantium ipsam nam optio aut dicta, reprehenderit enim recusandae? Odio perferendis veniam earum placeat quo amet laborum qui odit rerum. </p>
        <p class="right author"> - Author </p>   
      </div> 
    </div>
    </div> 
    <div class="col-1">
      <span class="quote-icon"> ” </span> 
    </div> 
  </section> 