
    
    
      <div class="testimonial-slider-container"> 
      <!-------------------- SLIDE 1 ------------------------------>
      <div class="slider-item  square"> 
        <img src="/images/portfolio-1.png">
        <a class="button visit-site" href="#"> Visit site </a>
         
      </div> 
      <!-------------------- SLIDE 2 ------------------------------>
      <div class="slider-item">
        <img src="/images/portfolio-2.png"> 
        <a class="button visit-site" href="#"> Visit site </a>
      </div> 
      <!-------------------- SLIDE 3 ------------------------------>
      <div class="slider-item">
        <img src="/images/portfolio-3.png"> 
        <a class="button visit-site" href="#"> Visit site </a>
      </div> 
      <!-------------------- SLIDE 4 ------------------------------>
      <div class="slider-item">
        <img src="/images/portfolio-4.png"> 
        <a class="button visit-site" href="#"> Visit site </a>
      </div> 
      <!-------------------- SLIDE 4 ------------------------------>
      <div class="slider-item">
        <img src="/images/portfolio-5.png"> 
        <a class="button visit-site" href="#"> Visit site </a>
      </div> 

    </div>
 
    
   
    
  