
<!--- Why choose custom coding-->
<section class=" tall-90 grid bg-gree padded usp">
    <div class="col-12-middle center padded">
        <h2 > Why choose custom coded designs </h2>   
    </div>



  <div class="capped-width">

        <div class="grid flex-flip-alternate">
    
        <div class="padded-1 col-3-middle">
                <h3> Safety </h3>
                <p> <strong> Impossible to hack. </strong></p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At pariatur quibusdam deserunt tempora voluptates! Hic, debitis omnis. Facilis harum, nostrum voluptas illum, maxime illo eaque aperiam quaerat quisquam deserunt quasi? </p>
          
        </div>

        <div class="padded-1 col-3-middle">
                <h3> SEO Friendly </h3>
                <p> <strong> Keywords, meta titles. </strong></p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At pariatur quibusdam deserunt tempora voluptates! Hic, debitis omnis. Facilis harum, nostrum voluptas illum, maxime illo eaque aperiam quaerat quisquam deserunt quasi? </p>

        </div>

        <div class="padded-1 col-3-middle">
                <h3> No templates </h3>
                <p> <strong> Built from scratch. </strong></p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At pariatur quibusdam deserunt tempora voluptates! Hic, debitis omnis. Facilis harum, nostrum voluptas illum, maxime illo eaque aperiam quaerat quisquam deserunt quasi? </p>

        </div>
        <div class="padded-1 col-3-middle">
            <h3> No templates </h3>
            <p> <strong> Built from scratch. </strong></p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At pariatur quibusdam deserunt tempora voluptates! Hic, debitis omnis. Facilis harum, nostrum voluptas illum, maxime illo eaque aperiam quaerat quisquam deserunt quasi? </p>

    </div>
    <div class="padded-1 col-3-middle">
        <h3> No templates </h3>
        <p> <strong> Built from scratch. </strong></p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At pariatur quibusdam deserunt tempora voluptates! Hic, debitis omnis. Facilis harum, nostrum voluptas illum, maxime illo eaque aperiam quaerat quisquam deserunt quasi? </p>

</div>
<div class="padded-1 col-3-middle">
    <h3> No templates </h3>
    <p> <strong> Built from scratch. </strong></p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At pariatur quibusdam deserunt tempora voluptates! Hic, debitis omnis. Facilis harum, nostrum voluptas illum, maxime illo eaque aperiam quaerat quisquam deserunt quasi? </p>

</div>
<div class="padded-1 col-3-middle">
    <h3> No templates </h3>
    <p> <strong> Built from scratch. </strong></p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At pariatur quibusdam deserunt tempora voluptates! Hic, debitis omnis. Facilis harum, nostrum voluptas illum, maxime illo eaque aperiam quaerat quisquam deserunt quasi? </p>

</div>
<div class="padded-1 col-3-middle">
    <h3> No templates </h3>
    <p> <strong> Built from scratch. </strong></p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At pariatur quibusdam deserunt tempora voluptates! Hic, debitis omnis. Facilis harum, nostrum voluptas illum, maxime illo eaque aperiam quaerat quisquam deserunt quasi? </p>

</div>


</div>
        


</section>